<div class="col-sm-3 col-md-2 sidebar">
  {{!-- left menu --}}
  <ul class="nav nav-sidebar">
    {{#link-to 'projects.new' tagName="li"}}
      <a href>{{t "Create new project"}}</a>
    {{/link-to}}
    {{!--
    <li></li>
    --}}
  </ul>
</div>
<div class="col-sm-9 main">
  {{!-- right content --}}
  <h3>{{t "List projects"}}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{t "Id"}}</th>
        <th>{{t "Name"}}</th>
        <th>{{t "Tasks"}}</th>
        <th>{{t "Task statuses"}}</th>
        <th>{{t "Members"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |project|}}
      <tr>
        <td>{{#link-to 'projects.show' project}}{{project.id}}{{/link-to}}</td>
        <td>
          {{#link-to 'projects.show' project tagName='button' class="btn btn-info"}}
            {{project.name}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'tasks' project}}
            {{t "Tasks"}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'taskstatuses' project}}
            <a href>{{t "Task statuses"}}</a>
          {{/link-to}}
        </td>
        <td>{{#link-to 'members' project }}{{t "Members"}}{{/link-to}}</td>
        <td>{{#link-to 'projects.edit' project class="btn btn-default"}}{{t "Edit"}}{{/link-to}}</td>
        <td>
          <button {{action 'deleteProject' project}} class="btn btn-default">
            {{t "Delete"}}
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <p>{{t "Total projects"}}: {{model.length}}</p>
</div>
