{{!-- app/login/template.hbs --}}

{{#if session.isAuthenticated}}
  <button {{action 'invalidateSession'}} class="btn btn-default">
    {{t "Logout"}}
  </button>
{{else}}
  <button {{action 'authenticate'}} class="btn btn-default">
    {{t "Login"}}
  </button>
{{/if}}
