<div class="navbar-right">
  {{#if session.isAuthenticated}}
    <span style="color:black;">
      {{if session.data.authenticated.user.first_name session.data.authenticated.user.first_name session.data.authenticated.user.username}}
      <button {{action 'invalidateSession'}} class="btn btn-default">
        {{t "Logout"}}
      </button>
    </span>

  {{else}}
    <span style="color:white;margin-right:10px;">
      You aren't authenticated.
    </span>
    {{#link-to 'login' class="btn btn-default btn-login" role="button"}}
      {{t "Login"}}
    {{/link-to}}
  {{/if}}
</div>


{{yield}}
