<h3>{{t "New member"}}</h3>

  <form>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{t "Member"}}:</label>
      <div class="col-sm-10">
      <!--
      <div class="top dropdown col-sm-10" id="search-bar">

        <span class="fa fa-search" id="btn-search" data-toggle="dropdown"></span>
        {{input type="text" value=userValue focus-in='focusedMember' key-up=(action 'handleFilterMember') autocomplete="off" class="form-control" placeholder="Type username"}}
        <ul class="dropdown-menu">
          {{#each choiceUser as |user|}}
            <li class="list-group-item" onclick={{action "memberClick" user.full_name user.id}}>{{user.full_name}}</li>
          {{/each}}
        </ul>
      -->
        {{#power-select
          options=choiceUser
          search=(action "searchUser")
          placeholder=(t 'Type username')
          searchMessage=(t 'Type to search')
          noMatchesMessage=(t 'No results found')
          selected=selectedUser
          onchange=(action (mut selectedUser))
          as |user|
          }}
          {{user.full_name}}
        {{/power-select}}
      </div>
    </div>
    <div class="col-sm-12">
      <br>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">{{t "Right"}}:</label>
      <div class="col-sm-10">
        <select class="form-control" onchange={{action "selectRight" value="target.value"}}>
          <option value="">{{t "Select right"}}</option>
          <option value="EX">{{t "Executor"}}</option>
          <option value="WA">{{t "Watcher"}}</option>
          <option value="AD">{{t "Administrator"}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-success" {{action 'addMember' model}}>
      {{t "Add"}}
    </button>
  </form>
